@media (max-width: 768px) {
  .dashboard-page {
    padding: 12px;
  }

  .dash-stats {
    flex-direction: column;
  }

  .dash-cards {
    width: 100%;
  }

  .chart-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .chart-box {
    width: 100%;
    min-width: unset;
  }

  .dashboard-page h1 {
    font-size: 1.4rem;
  }

  .sidebar {
    display: none;
  }

  .newmain {
    margin-left: 0 !important;
    width: 100% !important;
  }

  .newcontent {
    margin-left: 0px;
  }

  /* Header===== */
  .logo h2 {
    font-size: 17px;
  }

  .logo span {
    font-size: 13px;
  }

  .logo {
    display: none;
  }

  .logoImg {
    display: block !important;
  }

  .headerbtn {
    width: 35% !important;
    margin-right: 10px;
    padding: 12px 9px;
  }

  .img {
    width: 27% !important;
    margin-left: 31px !important;


  }

}


/* ********************************************************** */


@media (max-width: 480px) {
  .dash-cards h2 {
    font-size: 28px;
  }

  .dash-cards h5 {
    font-size: 16px;
    /* display: none; */
  }

  .dashboard-page h1 {
    font-size: 1.2rem;
  }

  .sidebar {
    display: none;
  }
}