@media (max-width: 768px) {

  .sidebar {
    display: none;
  }

  .mobile-p {
    position: relative;
  }

  .menu-mobile {
    position: absolute;
    top: 76px;
    color: #215714;
    font-size: 36px;
    left: -20px;
    display: block;
    padding: 10px 20px;
  }

  .menu-close {
    position: absolute;
    top: 10px;
    color: #edeeed;
    font-size: 25px;
    left: 185px;
    display: block;
    padding: 10px 20px;
  }

  .sidebar-mobile {
    width: 250px;
    min-width: 250px;
    height: 100vh;
    background-color: #2f6b4f;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    transition: all 0.3s ease;
  }




  .dashboard-page {
    padding: 12px !important;
  }

  .dash-stats {
    flex-direction: column;
    margin-top: 185px;
  }

  .dash-cards {
    width: 78%;
    margin-left: 54px !important;
  }

  .chart-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .chart-box {
    width: 100%;
    min-width: unset;
  }

  .dashboard-page h1 {
    font-size: 1.4rem;
  }

  .newmain {
    margin-left: 0 !important;
    width: 100% !important;
    /* display: block !important; */
  }

  .newcontent {
    margin-left: 0px;
    padding: 0px !important;
    margin-top: -63px;
    margin-left: -55px;
  }

  /* Header===== */
  .logo h2 {
    font-size: 17px;
  }

  .header {
    justify-content: space-around !important;
    padding: 0px !important;
  }

  .logo span {
    font-size: 13px;
  }

  .logo {
    display: none;
  }

  .logoImg {
    display: block !important;
  }

  .headerbtn {
    width: 35% !important;
    margin-right: 10px;
    padding: 12px 9px;
  }

  .imgLogo img {
    margin-top: 10px !important;
    width: 27%;
  }

  .name {
    display: block !important;
  }

  .newmain {
    display: block !important;
  }

  .dashboard-page h1 {
    margin-top: 180px;
  }

  /* *****************************student****************************** */
  .add-btn {
    width: 90%;
  }

  .card {
    padding: 10px;
  }

  .dashboard {
    margin-left: 17px;
  }

  .table-container {
    padding: 35px !important;

  }


  /* ****************************student details************************* */

  .profile-img {
    width: 30% !important;
    height: 136px !important;
    margin-right: -3px !important;
    margin-top: 17px;
    margin-bottom: -88px;
  }

  .filters {
    margin-left: 159px !important;
    margin-top: 66px;
  }

  .update-btn {
    margin-left: -1px !important;
  }

  /* .button-group {
    margin-top: -70px !important;
    padding: 79px !important;
  } */

  .delete-btn {
    margin-left: 10px !important;
  }

  .newcontent {}

  .student-card {
    display: block;
    height: 678px;
  }

  .student-container {
    padding: 0px;
    margin-top: 44px;
    margin-left: -3px;
  }

  .profile-section {
    width: 88% !important;
    padding: -20px 30px !important;
    height: 83px !important;
  }

  .info-box p {
    font-size: 10px !important;
  }

  .info-section {
    /* padding: 0px !important; */
    margin-top: -50px !important;
    text-align: center !;
    margin-left: 30px !important;
  }

  .title {
    margin-bottom: 27px !important;
    font-size: 26px !important;
    margin-top: 31px !important;
  }

  .profile-section h2 {
    font-size: 20px !important;
    padding-top: 98px !important;
  }
  .stats1{
    margin-top: 100px;
  }

  /* *****************************************teacherdetails******************** */

  .student-card {
    margin-left: 36px !important;
    margin-top: 24px !important;
  }

  .add-btn {
    width: 100% !important;
    margin-left: -53px !important;
    padding: 11px 28px !important;
  }

  .details-grid {
    gap: 10px !important;
  }

  /* **************************************teacherform*************************** */

  .container {
    margin-left: 54px !important;
    margin-top: 203px !important;
  }

  /* ********************************** studenteform***************************/

  .form-container {
    margin-left: 60px !important;
  }


  /* ************************************profile*********************** */

  .profile-card {
    display: block !important;
  }

  .profile-left {
    width: 84% !important;
  }

  .profile-container {
    /* margin-left: 54px; */
    width: 84%;
    margin-top: 63px !important;
    margin-left: 50px;
  }

  .profile-left img {
    width: 84px !important;
    height: 81px !important;
    margin-top: -19px !important;
  }

  .profile-btn {
    margin-left: 40px !important;
  }

  .profile-title {
    text-align: center !important;
    margin-top: -38px !important;
  }

  .profile-group {
    gap: 30px !important;
  }

  .profile-right {
    width: 93% !important;
    padding: 4px !important;
  }

  /* ***********************************teacherupdate********************** */

  .form-update {
    right: 0px !important;
  }
}